[submodule "external/webui"]
	path = external/webui
	url = https://github.com/webui-dev/webui.git
	ignore = dirty
[submodule "external/pigpio"]
	path = external/pigpio
	url = https://github.com/joan2937/pigpio.git
	ignore = dirty
